@import "tailwindcss";

:root {
  --font-primary: "Inter", "SF Pro Display", system-ui, sans-serif;
  --font-secondary: "Inter", system-ui, sans-serif;

  --color-brand: #4f46e5;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --bg-color: #ffffff;
  --color-bg-section: #f9fafb;

  --color-border: #e5e7eb;
}

/* -------- Base Typography -------- */
body {
  font-family: var(--font-secondary);
  color: var(--color-text-primary);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

/* Headings / Primary UI */
h1,
h2,
h3,
h4,
h5,
h6,
.nav,
.button {
  font-family: var(--font-primary);
  font-weight: 600;
}






